.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	  overflow: hidden;
	background: rgba(42,48,55, 1);
	color: #333;
	  font-family: 'Open Sans', Helvetica, sans-serif;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.circle {
	  width:200px;
	  height:200px;
	  background:linear-gradient( rgb(135, 215, 233, 1) 70%, rgb(218, 213, 141, 1) 30% );
	  border-radius:500px;
	  overflow: hidden;
	  position: relative;
	  animation: fade-out 5s ease-in-out infinite;
}

.sun {
	  width: 35px;
	  height: 35px;
	  background: yellow;
	  border-radius: 50%;
	  position: absolute;
	  top: 5%;
	  left: 80px;
	  transform-origin: 50% 400%;
	  transform: rotate(0deg);
	  animation: sun-rise 5s ease-in-out infinite;
}

.left {
	  position: absolute;
	  background: #F4F4F4;
	  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
	  top: 50%;
	left: 50%;
	height: 57px;
	width: 120px;
	  transform: translate(-50%,-30%);
	  animation: shade 5s ease-in-out infinite;
}

.right {
	  position: absolute;
	  background: #DDDADA;
	  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
	  top: 50%;
	left: 50%;
	height: 57px;
	width: 60px;
	  transform: translate(-0%, -30%);
	  animation: shade 5s ease-in-out infinite reverse;
}

.shadow {
	  width: 300px;
	  height: 200px;
	  clip-path: polygon(30% 0,  70% 0, 100% 0%);
	  background: rgba(0, 0, 0, 0.2);
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, 20%);
	  animation: shadow-move 5s ease-in-out infinite;
}

@keyframes fade-out {
	  0% {
		  opacity: 0;
	  }
	  30% {
	  opacity: 1;
	  }
	  70% {
	  opacity: 1;
	  }
	  100% {
	  opacity: 0;
	  }
}

@keyframes shade {
	  0% {
	  background: #F4F4F4;
	  }
	  70% {
	  background: #DDDADA;
	  }
	  100% {
	  background: #A6A6A6;
	  }
}

@keyframes sun-rise {
	  0% {
	  transform: rotate(-90deg);
	  }
	  30% {
		  transform: rotate(-30deg);
	  }
	  100% {
		  transform: rotate(90deg);
	  }
}

@keyframes shadow-move {
	  0% {
	  clip-path: polygon(30% 0,  70% 0, 100% 0%);
	  }
	  30% {
	  clip-path: polygon(30% 0,  70% 0, 85% 10%);
	  }
	  70% {
		  clip-path: polygon(30% 0,  70% 0, 15% 10%);
	  }
	  100% {
		  clip-path: polygon(30% 0,  70% 0, 0% 0%);
	  }
}